[package]
name = "pallas"
description = "Rust-native building blocks for the Cardano blockchain ecosystem."
version = "0.29.0"
edition = "2021"
repository = "https://github.com/txpipe/pallas"
homepage = "https://github.com/txpipe/pallas"
documentation = "https://docs.rs/pallas"
license = "Apache-2.0"
readme = "../README.md"
authors = ["Santiago Carmuega <santiago@carmuega.me>"]

[dependencies]
pallas-network = { version = "=0.29.0", path = "../pallas-network/" }
pallas-primitives = { version = "=0.29.0", path = "../pallas-primitives/" }
pallas-traverse = { version = "=0.29.0", path = "../pallas-traverse/" }
pallas-addresses = { version = "=0.29.0", path = "../pallas-addresses/" }
pallas-crypto = { version = "=0.29.0", path = "../pallas-crypto/" }
pallas-codec = { version = "=0.29.0", path = "../pallas-codec/" }
pallas-utxorpc = { version = "=0.29.0", path = "../pallas-utxorpc/" }
pallas-configs = { version = "=0.29.0", path = "../pallas-configs/" }
pallas-txbuilder = { version = "=0.29.0", path = "../pallas-txbuilder/" }
pallas-applying = { version = "=0.29.0", path = "../pallas-applying/", optional = true }
pallas-rolldb = { version = "=0.29.0", path = "../pallas-rolldb/", optional = true }
pallas-wallet = { version = "=0.29.0", path = "../pallas-wallet/", optional = true }
pallas-hardano = { version = "=0.29.0", path = "../pallas-hardano/", optional = true }

[features]
rolldb = ["pallas-rolldb"]
hardano = ["pallas-hardano"]
wallet = ["pallas-wallet"]
applying = ["pallas-applying"]
unstable = ["rolldb", "hardano", "wallet", "applying"]
