[package]
name = "pallas"
description = "Rust-native building blocks for the Cardano blockchain ecosystem."
version = "0.19.1"
edition = "2021"
repository = "https://github.com/txpipe/pallas"
homepage = "https://github.com/txpipe/pallas"
documentation = "https://docs.rs/pallas"
license = "Apache-2.0"
readme = "../README.md"
authors = ["Santiago Carmuega <santiago@carmuega.me>"]

[dependencies]
pallas-applying = { version = "=0.19.1", path = "../pallas-applying/" }
pallas-network = { version = "=0.19.1", path = "../pallas-network/" }
pallas-primitives = { version = "=0.19.1", path = "../pallas-primitives/" }
pallas-traverse = { version = "=0.19.1", path = "../pallas-traverse/" }
pallas-addresses = { version = "=0.19.1", path = "../pallas-addresses/" }
pallas-crypto = { version = "=0.19.1", path = "../pallas-crypto/" }
pallas-codec = { version = "=0.19.1", path = "../pallas-codec/" }
pallas-utxorpc = { version = "=0.19.1", path = "../pallas-utxorpc/" }
