[package]
name = "pallas"
description = "Rust-native building blocks for the Cardano blockchain ecosystem."
version = "1.0.0-alpha.3"
edition = "2021"
repository = "https://github.com/txpipe/pallas"
homepage = "https://github.com/txpipe/pallas"
documentation = "https://docs.rs/pallas"
license = "Apache-2.0"
readme = "../README.md"
authors = ["Santiago Carmuega <santiago@carmuega.me>"]

[dependencies]
pallas-network = { version = "=1.0.0-alpha.3", path = "../pallas-network/" }
pallas-primitives = { version = "=1.0.0-alpha.3", path = "../pallas-primitives/" }
pallas-traverse = { version = "=1.0.0-alpha.3", path = "../pallas-traverse/" }
pallas-addresses = { version = "=1.0.0-alpha.3", path = "../pallas-addresses/" }
pallas-crypto = { version = "=1.0.0-alpha.3", path = "../pallas-crypto/" }
pallas-codec = { version = "=1.0.0-alpha.3", path = "../pallas-codec/" }
pallas-utxorpc = { version = "=1.0.0-alpha.3", path = "../pallas-utxorpc/" }
pallas-configs = { version = "=1.0.0-alpha.3", path = "../pallas-configs/" }
pallas-txbuilder = { version = "=1.0.0-alpha.3", path = "../pallas-txbuilder/" }
pallas-validate = { version = "=1.0.0-alpha.3", path = "../pallas-validate/" }
pallas-hardano = { version = "=1.0.0-alpha.3", path = "../pallas-hardano/", optional = true }

[features]
hardano = ["pallas-hardano"]
unstable = ["hardano", "pallas-traverse/unstable"]

# pallas-validate feature flags
phase2 = ["pallas-validate/phase2"]
