[package]
name = "pallas"
description = "Rust-native building blocks for the Cardano blockchain ecosystem."
version = "0.13.2"
edition = "2021"
repository = "https://github.com/txpipe/pallas"
homepage = "https://github.com/txpipe/pallas"
documentation = "https://docs.rs/pallas"
license = "Apache-2.0"
readme = "../README.md"
authors = [
    "Santiago Carmuega <santiago@carmuega.me>"
]

[dependencies]
pallas-multiplexer = { version = "0.13.0", path = "../pallas-multiplexer/" }
pallas-miniprotocols = { version = "0.13.0", path = "../pallas-miniprotocols/" }
pallas-primitives = { version = "0.13.0", path = "../pallas-primitives/" }
pallas-traverse = { version = "0.13.0", path = "../pallas-traverse/" }
pallas-addresses = { version = "0.13.0", path = "../pallas-addresses/" }
pallas-crypto = { version = "0.13.0", path = "../pallas-crypto/" }
pallas-codec = { version = "0.13.0", path = "../pallas-codec/" }
