[package]
name = "pallas"
description = "Rust-native building blocks for the Cardano blockchain ecosystem."
version = "0.4.0"
edition = "2021"
repository = "https://github.com/txpipe/pallas"
homepage = "https://github.com/txpipe/pallas"
documentation = "https://docs.rs/pallas"
license = "Apache-2.0"
readme = "../README.md"
authors = [
    "Santiago Carmuega <santiago@carmuega.me>"
]

[dependencies]
pallas-multiplexer = { version = "0.4.0", path = "../pallas-multiplexer/" }
pallas-machines = { version = "0.4.0", path = "../pallas-machines/" }
pallas-byron = { version = "0.4.0", path = "../pallas-byron/" }
pallas-alonzo = { version = "0.4.0", path = "../pallas-alonzo/" }
pallas-crypto = { version = "0.4.0", path = "../pallas-crypto/" }
